.main-wrap {
    min-width: 100%;
}

.top {
    background: #3B5C7D;
    height: 1rem;
}

body {
    background: url('../img/bg2.png') no-repeat bottom right;
}

header {
    padding: 0.3rem 0 1rem 0;
}

header h1 {
    font-weight: 400;
    font-size: 3.8rem;
    margin: 1rem 0 0 0;
    text-align: center;
}

.center {
   text-align: center;
}

.honeycombs {
    margin-top: 4rem;
}

.navbar {
    margin-top: 1rem;
    vertical-align: bottom;
}

.navbar img {
    float: left;
}

.navbar .navtext {
    font-size: 1.2rem;
    display: block;
    margin-left: 2.5rem;
    line-height: 2.2rem;
}

.swiper-container {
    margin-top: 4rem !important;
    width: 800px;
    height: 513px;
}